/**,
*::before,
*::after{
	box-sizing: border-box;
	border: 1px solid red;
}*/

body {
    background-image: url("../images/homepage.png");
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    /*margin: 10px 200px 0px 200px;*/
    font-family: 'Montserrat', sans-serif;    
    height: 100%;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 50px;
}

html{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}


section{
	padding: 40px 0;
}

header ul li {
    display: inline-block;
}

nav li {
    margin-right: 40px;
}

/*.home {
	background-image: url("../images/homepage.png");
	background-size: cover;
	background-position: center;
	padding: 0;
	min-height: 100vh;
	margin: 0 auto;
	max-width: 100%;
}*/
.container {
	align-content: center;
	justify-content: center;
}
.header {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
}

.nav-bar{
	/*min-width: 100%;*/
}
.flex-container,
.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
}
.nav-button{
	justify-content: space-between;
	margin-left: 50px;
}
.nav-home{
	display: flex;
	justify-content: center;
	/*align-content: center;*/
}
.topnavmenu{
	display: flex;
	justify-content: center;

}

#signup {
    color: #000b60;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
}
/*.logo{
	max-height: 50%;	
}

.logoImage{
	max-height: 100%;	
}*/
.flex-container a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
}
.flex-container a:hover{
/*	background-color: #ddd;
	color: #b6261b;*/
	text-decoration: underline;

}
.articleName {
    font-size: 4rem;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 0; 
}
.articleName p {
    margin-top: 0;
}

.text {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-weight: 400;
}

.section{
	margin-left: 120px;
}

.button h3:hover{
/*	background-color: #ddd;
	color: #b6261b;*/
	text-decoration: underline;
	font-size: 16px;
}


.button {
    border-radius: 8px;
    border: none;
    padding: 20px 30px;
    margin-top: 40px;
    background-color: #ff5969;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}


/*POPUP CSS*/

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0; 
  	background: rgba(255,255,255,0.5); 
	transition: opacity 200ms;
  	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-content: center;
align-items: center;
    align-content: center;
	margin: 0;
	}
  .overlay:target {
    visibility: visible;
    opacity: 1;
  
   /* align-items: center;
    align-content: center;*/
    /*background: rgba(25,60,202);
	padding: 20px;
	border: 10px solid rgba(255,235,92);
	border-radius: 15px;
	background-clip: padding-box;
	text-align: center;*/
  }


.popup {
	margin: 75px auto;
	padding: 20px;
	background-color: blue;
	border: 1px solid #666;
	width: auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
	/*position: absolute;
	top: 20%;
	bottom: 30%;
  	left: 40%;
  	right: 40%;*/

	background: rgba(25,60,202);
	padding: 20px;
	border: 10px solid rgba(255,235,92);
	border-radius: 15px;
	background-clip: padding-box;
	text-align: center;
  }
  /*h2 {
    margin-top: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }*/
  .popup > .close {
    position: absolute;
    width: 20px;
    height: 60px;
    top: 0px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;}
    .close:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
  	margin: auto;
  	margin-bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}