/* * {
    box-sizing: border-box;
    border: 1px solid black;
} */

body {
  /* background-image: url('../img/front_page_PNG.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d53536;
  color: white;
  padding: 2% 10%;
  font-family: 'Montserrat', sans-serif;
}



#createDesignBtn {
  background-color: #f04a55;
  color: #193eca;
  font-size: 1em;
  font-weight: 1000;
  padding: 1em;
  border-radius: 10%;
  margin-top: 2em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  height: initial;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.close:hover {
  opacity: 1;
}

.popup {
  margin: 8em auto;
  padding: 1em;
  background: #68171c;
  border: 1px solid #666;
  width: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}